@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Spartan:wght@400;500;700&display=swap');



* {
    margin: 0;
    padding: 0;
    
}
     
/*Main Head,Mobile layout */

.mainhead {
    margin-top:70px;
    text-align: center;
    color: hsl(300, 43%, 22%);
    font-family: Spartan;
    font-weight: 700;
    
}

/*main Paragraph*/

.mainp {
    width: 370px;
    text-align: center;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
    color:hsl(300, 43%, 22%);
    font-family: Spartan;
    font-weight: 400;
    
}

/* stars and rates*/

.reviwes  {
    width: 90%;
    height:70px ;
    text-align:center;
    background-color: hsl(300, 24%, 96%);
    margin: auto;
    padding-top:30px;
    border-radius: 10px;
    font-family: Spartan;
    font-weight: 700;
 

}

.reviwes p {
    margin-top: 5px;
    color:hsl(300, 43%, 22%);
}


.guru {
    width: 90%;
    height:70px ;
    text-align:center;
    background-color: hsl(300, 24%, 96%);
    margin: auto;
    margin-top: 20px;
    padding-top:30px;
    border-radius: 10px;
    font-family: Spartan;
    font-weight: 700;

}

.guru p {
    margin-top: 5px;
    color:hsl(300, 43%, 22%);
}

.BestTech {
    width: 90%;
    height:70px ;
    text-align:center;
    background-color: hsl(300, 24%, 96%);
    margin: auto;
    margin-top: 20px;
    padding-top:30px;
    border-radius: 10px;
    font-family: Spartan;
    font-weight: 700;

}

.BestTech p {
    margin-top: 5px;
    color:hsl(300, 43%, 22%);
}

/*first buyer comment*/


.colton {
    background-color:hsl(300, 43%, 22%);
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    height: 300px;
    width: 90%;
    border-radius: 10px;
    position: relative;
    

}

 .colton p  {
 color: hsl(0, 0%, 100%);
 padding-top: 60px;
 padding-left: 40px;
 padding-bottom: 10px;
 text-align: left;
 font-size: 15px;
 font-family: spartan;
 font-weight: 500;
 line-height: 1.5;
 
}

/*buyers pictures*/

img {
    
    padding-right: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 10%;
    width: 70px;


    
}
/*buyers names*/
 h3 {

    color:hsl(0, 0%, 100%);
    padding-top:60px;
    font-family: spartan;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
}

h3 span {
    font-weight: 400;
    color:hsl(333, 80%, 67%) ;
}

/*stars icons*/

svg {
    width:7%;
}

/* second buyer comment*/
.irene {
    background-color:hsl(300, 43%, 22%);
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    position: relative;
}

.irene p {
    color: hsl(0, 0%, 100%);
    padding-top: 60px;
    padding-left: 40px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 15px;
    font-family: spartan;
    font-weight: 500;
    line-height: 1.5;
}
/*attribuition, mobile layout*/

.attribution{
    margin-top: 40px;
    
    
}


/*desktop layout*/

@media screen and (min-width: 768px) {

/*main head H1,desktop */

    .mainhead  {
        text-align: left;
        margin-left:100px;
        margin-top: 200px;
        font-size: 20px;
        width: 35%;
        
    }

/*main text,desktop */

    .mainp {
        width:450px ;
        text-align: left;
        margin:10px 0px 10px 100px;
        line-height: 1.8;
        font-size: 15px;
        
    }
    
     
/*rates section desktop*/

.reviwes, .guru,.BestTech {
     height: 50px;
     width: 400px;
     position: relative;
     bottom: 240px;
     left: 150px;
     max-width: 400px;
     box-sizing: border-box;
    
    
     
 }

 .reviwes p,.BestTech p {
    position: relative;
    bottom: 35px;
    font-size: 12px;
    text-align: right;
    padding-right: 90px; 
}
.guru p {
    position: relative;
    bottom:35px;
    font-size: 12px;
    text-align:right;
    padding-right: 60px;

}

.guru {
    left:200px;
}

.BestTech {
    left: 250px;
}

/*end of rates section,desktop*/


/*comment section,desktop*/

.colton {
    max-width: 300px;
    max-height:5cm;
    float: left;
    position: relative;
    bottom:160px;
    margin-left: 100px;
    
}

.colton p {
    font-size: 10px;
    text-align: left;
    position: relative;
    bottom: 60px;


}
h3 {
    position: relative;
    bottom:30px;
    left: 10px;
    font-size: 12px;
}


img {
    
    padding-right: 5px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 10%;
    width: 50px;


    
}

.irene {
    max-width: 300px;
    max-height:5cm;
    position: relative;
    bottom:260px;
    left:330px;
    
}


/*stars icons,desktop*/

 svg {
    width:5%;
    height:100;
    position: relative;
    bottom: 13px;
    right:120px;
    
}
/*attribution*/
.attribution {
  



}